
.full_wrapper {
    color:darkslategray;
    min-width: 800px;
}

.header_cell { 
    padding-top:8px; 
    padding-bottom:8px; 
    background-color:#d6ecfa; 
    border-bottom: rgb(243, 247, 248) solid 2px;
    border: '2px solid whitesmoke'; 
    text-align:"center"; 
    background-color: 'aliceblue';
    > div {
        padding-top:2px;
    } 
}

.time_cell{
    height: 42px; // this be equal to 60*pixels_per_minute from CalendarDay.js
    display: block;
} 

div.calendar_cell:hover {
    border-color: rgb(186, 216, 228);
}

.calendar_column {
    background-color:rgb(244, 250, 250);
    height:1008px; // this should match up with 60*pixels_per_minute*24 from CalendarDay.js
    position: relative;
}

.day_event {
    width: 82%;
    position: absolute;
    background: #da8196;
    padding-left: 4px;
    border-radius: 4px;
}

/*


.time_cell, .calendar_cell {
    height:3rem;
    background-color:rgb(244, 250, 250);
    border: rgb(241, 245, 245) solid 2px;
}
div.calendar_cell:hover {
    border-color: rgb(139, 202, 202);
}
*/